<!-- Start Section -->
<div class="section process-scetion section-pad section-bg-blend-benefits nopb" id="benefits">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated header-dark" data-animate="fadeInUp" data-delay=".1">Multiple Powerful Features. One Tidy Package.</h2>
    </div>
    <div class="row align-items-center text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">
          <%= image_tag "design.png" %>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">A workforce that never rests</h5>
        <p class="text-muted">Deploy a team of virtual robotic accountants to manage the most repetitive tasks in your Finance function. Deployed bots can perform repetitive tasks 20x-25x faster than a human. Liberate your team from mundane tasks and let them focus on making your business great.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">
          <%= image_tag "brain.png" %>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">Cognitive robotic processes</h5>
        <p class="text-muted">Our bots can do so much more than simple repetitive "copy and paste" tasks. The integration of our proprietary AI with our software bots enables them to learn and perform cognitive tasks like understanding contracts and reviewing work performance. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">
          <%= image_tag "target.png"%>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">Guaranteed data entry accuracy</h5>
        <p class="text-muted">Our software eliminates the risk of human data entry errors that typically arise when accountants and clerks conduct mundane, repetitive tasks for prolonged periods. Those tasks aren't meant for humans. People make mistakes. Our bots don't.</p>
      </div>
    </div>
    

    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">
          <%= image_tag "mandatory.png" %>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">Living contract technology</h5>
        <p class="text-muted">Your business is always moving, but contracts and orders stand still once the ink dries. Our technology brings contracts to life to ensure that your financial records are always synchronised with the latest contracts and your business activities.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">          
          <%= image_tag "living-contract.png" %>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">Self-managing contracts</h5>
        <p class="text-muted">
        Each time you formalise a contract, and every time you deliver work, your accounting records will be instantaneously updated - no human involvement needed. Focus on your company's business, not the paperwork that comes afterwards. </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-3x process-image" data-animate="fadeInUp" data-delay=".4">
          <%= image_tag "stats.png" %>
        </span>
        <br/><br/>
        <h5 class="header-dark-1">Real-time accounting</h5>
        <p class="text-muted">Experience the power of real-time accounting, for the first time. Accounting entries and financial documents are updated and issued immediately after trigger events, anytime, anywhere. Month-end and period-end closure processes are a thing of the past.</p>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
</div>
<!-- End Section --> 