<div class="section partner-section section-bg-light">
  <div class="container text-center">
    <h6 class="small-heading animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h6>
    <ul class="partner-list-s2 d-flex flex-wrap align-items-center">
      <li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><%= image_tag "partner-xs-a.png", alt: "partner"%></a></li>
      <li class="animated" data-animate="fadeInUp" data-delay=".25"><a href="#"><%= image_tag "partner-xs-b.png", alt: "partner"%></a></li>
      <li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><%= image_tag "partner-xs-c.png", alt: "partner"%></a></li>
      <li class="animated" data-animate="fadeInUp" data-delay=".35"><a href="#"><%= image_tag "partner-xs-d.png", alt: "partner"%></a></li>
      <li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><%= image_tag "partner-xs-e.png", alt: "partner"%></a></li>
      <li class="animated" data-animate="fadeInUp" data-delay=".45"><a href="#"><%= image_tag "partner-xs-f.png", alt: "partner"%></a></li>
    </ul>
  </div>
</div>