<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ben Stein">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Airledger offers a Blockchain-as-a-Service with flexible, self-executing contracts to completely automate document workflows in business and the supply chain.">
    <title>AirLedger</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "jquery" => true %>
    <%= javascript_include_tag "jquery.easing" => true %>
    <%= javascript_include_tag "jquery.magnific-popup.min" => true %>
    <%= javascript_include_tag "form.plugins" => true %>
    <%= javascript_include_tag "googleMap" => true %>
    <%= javascript_include_tag "select2.min" => true %>
    <%= javascript_include_tag "particles.min" => true %>
    <%= javascript_include_tag "owl.carousel" => true %>
    <%= javascript_include_tag "script" => true %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <%= yield :head %>

    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=140">
    <link rel="stylesheet" href="assets/css/style.css?ver=140">
    <link rel="stylesheet" href="assets/css/theme.css?ver=140">

  </head>

  <body>
    
    <%= render "shared/header" %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>