<!DOCTYPE html>
<html lang="en" class="js">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Ben Stein">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Staple.io offers an AI-powered platform that interprets contractual commmitments, recognises real-world events and completely automates document workflows.">
    <title>Staple</title>

    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="assets/favicon.png">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body class="theme-dark is-smooth-effect" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <%= render "shared/header" %>
    <div>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>

</html>